*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    color:aquamarine;
    font-family: monospace;
}

header {
    padding:20px 35px;
    background-color:gray;
    display:flex;
    justify-content:space-between;  
}

header a {
    text-decoration:none;
    color:aquamarine;
}

header h1 {
    font-weight:bold;
    font-size:36px;
}

header nav {
    margin:6px 0;
}

header nav ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none; 
 
}

header nav ul li a {
    padding: 20px 35px;
    font-weight: lighter;
    font-size:20px;
    
}

header nav ul li a:hover {
    background:white;
    border-radius:15px;
    text-shadow:none;
}

